@{
    Layout = null;
}
<html>
<head>
    <title>New Event</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">
</head>
<body>
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Create a new Event</h1>
                @if(ViewBag.Message != null)
                {
                    <div class="alert alert-dismissible alert-danger">
                        <strong>Oh snap!</strong> <p>It seems you forgot something</p>
                    </div>
                }
                <div class="well bs-component">
                    @using(Html.BeginForm("Add", "Event", FormMethod.Post, new { @class="form-horizontal" }))
                    {
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        placeholder="Name"
                                        name="name"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Date</label>
                                <div class="col-lg-10">
                                    <input type="date" 
                                        class="form-control" 
                                        placeholder="Date" 
                                        name="date"
                                        />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Venue</label>
                                <div class="col-lg-10">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        placeholder="Venue" 
                                        name="venue"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Organizer</label>
                                <div class="col-lg-10">
                                @if(ViewBag.AllOrganizer != null)
                                {
                                    <select class="form-control" name="organizer">
                                            @foreach(var o in ViewBag.AllOrganizer)
                                            {
                                                <option value=@o.Id>@o.Name</option>
                                            }
                                        
                                    </select>
                                }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary center-block">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>